<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/public/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"/>
    <%- head %>
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
<%- body %>

<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/lodash.min.js"></script>
<script src="/public/js/layout.js"></script>
<%- script %>
</body>
</html>
